html {
  font-size: 52.5%;

}

@media (min-width: 576px) {
    html {
        font-size: 55%;
    }
}

@media (min-width: 768px) {
    html {
        font-size: 57.5%;
    }
}

@media (min-width: 992px) {
    html {
        font-size: 60%;
    }
}

@media (min-width: 1200px) {
    html {
        font-size: 62.5%;
    }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  overflow: hidden !important;
}

body a:hover {
    color: #FFF;
    text-decoration: none;
}
