.header {
    @include custom-shadow;
    background-color: #fff;
    font-size: 1.6rem;
    padding: 1rem 1.5rem;
    margin-bottom: 1rem;

    &__logo {
        width: 12%;
    }

    &__menu {
        .ui-button-text {
            color: #fff;
        }
    }
}